@charset "UTF-8";

font-face {
  font-family: "SourceCodePro";
  src: url('fonts/SourceCodePro-Bold.ttf]');
  
}


::-webkit-input-placeholder {
	color: #888888;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-webkit-input-placeholder {
	opacity: 1;
}

:-moz-placeholder {
	color: #888888;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-moz-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	color: #888888;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-moz-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	color: #888888;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-ms-input-placeholder {
	opacity: 1;
}

/* main content */
* {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: "SourceCodePro";
	font-weight: 400;
	opacity: 1.0;
}

html, body {
	background-color: #373D45;
}


.search-block {
	position: relative;
	width: 40%;
	margin: 10vh auto 0px;
	text-align: center;
}
@media screen and (max-width: 1000px) {
	.search-block {
		width: 60%;
		margin: 5vh auto 0vh;
	}
}
.search-block label {
	position: absolute;
	color: #888888;
	top: 7px;
	left: -20px;
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input {
	width: 100%;
	margin: 0 auto;
	padding: 5px 0;
	font-size: 16px;
	background: transparent;
	border: 2px solid transparent;
	border-bottom: 2px solid transparent;
	color: white;
	outline: none;
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block input:hover, .search-block input:focus {
	border-bottom: 2px solid white;
}
.search-block input:hover + label, .search-block input:focus + label {
	color: white;
}
.search-block ul.search-help {
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-block;
}
@media screen and (max-width: 1000px) {
	.search-block ul.search-help {
		max-height: 100px;
	}
}
.search-block ul.search-help li {
	display: inline-block;
	padding: 25px;
	list-style: none;
	cursor: pointer;
}
.search-block ul.search-help li > span {
	position: relative;
	color: white;
	font-size: 20px;
}
.search-block ul.search-help li > span .icon {
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block ul.search-help li > span .command {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-block ul.search-help li:hover .icon {
	opacity: .2;
}
.search-block ul.search-help li:hover .command {
	opacity: 1;
}

.blocks {
	font-family: "SourceCodePro";
	font-weight: 400;
	font-size: 14px;
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	animation-delay: 0.2s;
;
}
.blocks .block {
	flex: 1;
	margin: 2px;
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #222222;
	min-width: 160px;
	
}
.blocks .block li {
	list-style: none;
}
.blocks .block .header {
	color: #95EDFD;
}
.blocks .block a {
	text-decoration: none;
	cursor: pointer;
}
.blocks .block a:visited, .blocks .block a:focus, .blocks .block a:link {
	color: white;
}
.blocks .block a:hover {
	color: #FF92D1;
}

.blocks .block {
	color: #FFFFFF;
}


@media screen and (max-width: 1000px) {
	.blocks {
		width: 80%;
	}
}

.blocks .block #greeting{
	width: 50%;
	margin: 0 auto;
}

#myName {
	color: #95EDFD;
}

#time {
	color: #95EDFD;
	float: right;
}



